.homePage {
  width: 100vw;
  height: auto;
}

.Content1 {
  width: 90%;
  height: 8rem;
  margin: 25px auto;
  .categories {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .image {
      width: 65px;
      height: 65px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    img {
      width: 45px;
      height: 45px;
      object-fit: contain;
    }
  }
}

.Content2 {
  width: 90%;
  height: 50rem;
  margin: 25px auto;
  .image-wrapper {
    position: relative;
    img { 
      width: 100%;
      height: 50rem;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px) brightness(40%) contrast(120%) saturate(150%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  margin-bottom: 20px;
  &__title {
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4);
    position: absolute;
    z-index: 10;
    top: 20%;
    left: 10%;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 70rem;
    height: auto;
    .title1 {
      span {
        background: #b0b0b0;
        padding: 5px;
        border-left: 10px solid #fc35f5;
      }
    }
    h2 {
      margin: 2rem 0;
      font-size: 5rem;
      width: 40rem;
    }
    span {
      font-size: 2.4rem;
    }
    .button {
      margin-top: 2rem;

      button:first-child {
        margin-right: 2rem;
      }
      .action {
        background-image: linear-gradient(to right, #f9d8f8, #fc35f5);
      }
      button {
        cursor: pointer;
        position: relative;
        background-color: transparent;
        padding: 15px;
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transition: 0.3s all ease-in-out;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
          border-color: rgba(255, 255, 255, 1);
        }
      }
      button:first-child::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        border-radius: 10px;
        background-image: conic-gradient(
          from var(--angle),
          transparent 50%,
          #ff0000,
          #ff7300,
          #fffb00,
          #48ff00,
          #00ffd5,
          #002bff,
          #7a00ff,
          #ff00c8,
          #ff0000
        );
        animation: spin 1s infinite linear;
        z-index: -1;
      }
    }
  }
}
.Content3{
  width: 90%;
  height: auto;
  margin: 25px auto;
}

